//screen-size
$small-screen: 767px;
//colors
$background: rgb(227, 222, 222);
$font-color: black;
$accent-col: rgb(0, 71, 133);
//sizes
$fill: 100%;
$p-text: 1.2rem;
$heading: 1.5rem;
$big-heading: 2rem;
//padding&margin
$padding-headings: 3%;
$padding-borders: 20px;
$margin-bottom: 5%;
